@page "/catalog"
@inject ICatalog catalog
@inject ICart cart
<h3>CatalogPage</h3>
<link href="css/app.css" rel="stylesheet" />




<ul>
    @foreach (var _product in _products)
    {
        
        <ProductCard product="@_product"></ProductCard>
        <MudButton OnClick="()=> cart.addProductToCart(_product)">Add to cart</MudButton>
        //cart.addProductToCart(@_product);
        //<MudButton>Add to cart</MudButton>
    }
</ul>



@code {
    
  
}

