@page "/ProductInfo/{ProductId:guid}" 
@inject ICatalog catalog
<h4>Страница товара</h4>
<div>@_product.Name  @_product.Price</div>

@if (imageSource is null)
{
    imageSource = $"ProductImages/{_product.Name}.jpg";
    <p>
        <img class="productImg" src="@imageSource" />
    </p>
}


}


@code {

    private string? imageSource;
    
}



